<form action= "/enter_user_info" method ="post">
<label for="name">Username:</label>
<input type="text" name="username">
<label for="name">Password:</label>
<input type="text" name="password">
<input type="submit" name="Sign up">
</form>