
<form action="/sessions" method="post">
  <label for = "email">
    <h4>Please enter your email</h4>
    <input type = "email" name = "email">
  </label>
  <label for = "password">
    <h4>Please enter your email</h4>
    <input type = "password" name = "password">
  </label>
  <input type="submit" value="Sign in" />
</form>