<form action = '/user' method = 'post'>
  <label for = "name">
    <h3>Enter your name</h3>
    <input type = "text" name = "name">
  </label>
  <label for = "username">
    <h3>Create your username</h3>
    <input type = "text" name = "username">
  </label>
  <label for = "email">
    <h3>Enter your email</h3>
    <input type = "email" name = "email">
  </label>
  <label for = "password">
    <h3>Create your password</h3>
    <input type = "password" name = "password">
  </label>
  <input type = "submit" value = "Create account">
</form>